<div class="container">
	<div class="container">
    <div class="jumbotron">
      <h1 class='text-center'>Welcome to Package Alert!</h1>
    </div>
	<h1><center> Hello Associate!</center></h1>
	<hr>
	<table class="table table-striped">

		<tr>
			<th>Resident Name</th>
			<th>Apartment Number</th>
			<th>Building Number</th>
			<th>Created By</th>
			<th>Created Date</th>
			<th>Updator</th>
			<th>Updated Date</th>
			<th>Status</th>
			<th></th>
			<th></th>
		</tr>

		<tbody>

			{{#each dbPackage}}
			<tr>

				<td>{{this.User.name}}</td>
				<td>{{this.User.UserInfo.building}}
				<td>{{this.User.UserInfo.number}}</td>
				<td>{{this.updater}}</td>
				<td>{{this.createdAt}}</td>
				<td>{{this.updater}}</td>
				<td>{{this.updatedAt}}</td>
				<td> {{#unless this.status}} <p>Not Picked up </p>{{/unless}}
					{{#if this.status}} <p> Picked Up </p> {{/if}} </td>
				<td>{{#unless this.status}}<button id = "{{this.id}}" data-id="{{this.id}}" class="notPickedUp btn btn-success">Not Picked Up</button>{{/unless}}</td>
				<td><button data-id="{{this.id}}" class="sendEmail btn btn-success">Send Email</button></td>
			</tr>
			{{/each}}

		</tbody>

	</table>


    <div id='login'>
      <button type="button" data-toggle="modal" data-target="#create-modal" class="btn btn-success center-block">Create New Package</button>
    </div>


	<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	        <div class="modal-dialog">
	        <div class="loginmodal-container">
	          <h1 class='text-center'>New Package</h1><br>
	          <form class='text-center'>
	          <input type="text" name="packageName" placeholder="Apartment number">
	          <input type="text" name="creater" placeholder="Employee name">
	          <input type="submit" name="create" class="login loginmodal-submit" value="create">
	          </form>
	        </div>
	      </div>
	</div>
	<a id="logout" class="btn" href="/signout">logout</a>
</div>