<div class = 'container'>
	<div class="jumbotron">
		<h1 class='text-center'>Welcome to Package Alert!</h1>
	</div>
	<div class='row'> <h1> Hello Resident </h1> </div>
	<a id="logout" class="btn" href="/signout">logout</a>
	

	<div class="row">
		<h1 class="text-center"> Packages for Residents </h1>
	</div>

	<div>
		
		<table class="table table-striped">
			<tr>
				<th>#</th>
				<th>Package ID</th>
				<th>Package Name</th>
				<th>Package Status</th>
				<th>PickedUpState</th>
			</tr>

			<tbody>
				
				{{#each packages}}
				<tr>
					<th scope="row">{{this.id}}</th>
					<td> {{this.id}} </td>
					<td> {{this.packageName}} </td>
					<td> {{#unless this.status}} <p>Not Picked up </p>{{/unless}}
						 {{#if this.status}} <p> Picked Up </p> {{/if}} </td>
					<td>{{#unless this.status}}<button id = "{{this.id}}" data-id="{{this.id}}" class="notPickedUp btn btn-success">Not Picked Up</button>{{/unless}}</td>
					{{/each}}
					
				</tr>

			</tbody>
		</table>
	</div>

</div>