<div class = 'container'>
	<div class="jumbotron">
		<h1 class='mainHeader text-center'>Welcome to Package Alert!</h1>
		<a id="logout" class="btn" href="/signout">Logout</a>
	</div>
	<div>
		<center>
			<h1> Hello {{this.packages.name}}! </h1> 
			<p> Apt Building: {{this.dbUserDetails.UserInfo.building}} </p> 
			<p> Apt Number: {{this.dbUserDetails.UserInfo.number}}</p> 
			<p> Street: {{this.dbUserDetails.UserInfo.street}}</p>
		</center>
	</div>

	<div class="row">
		<h1 class="text-center"> Packages Awaiting for Pickup </h1>
	</div>

	<hr>

	<div>

		<table class="table table-striped">
			<tr>
				<th>#</th>
				<th>Package ID</th>
				<th>Package Name</th>
				<th>Picked Up</th>
				<th></th>
			</tr>

			<tbody>

				{{#each this.packages.packages}}
				<tr>
					<th scope="row">{{this.id}}</th>
					<td> {{this.id}} </td>
					<td> {{this.packageName}} </td>
					<td> {{#unless this.status}} <p><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></p>{{/unless}}
						{{#if this.status}} <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p> {{/if}} </td>
						<td>{{#unless this.status}}<button id = "{{this.id}}" data-id="{{this.id}}" class="notPickedUp btn btn-success">Not Picked Up</button>{{/unless}}</td>
						{{/each}}

					</tr>

				</tbody>
			</table>
		</div>

</div>
<div class="footerA"> 
	<p><span class= "glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> Package Alert Company || Group Members: Abhijit Ghosh, Brian Jin, Manasi Sukthankar, Ted Yang</p>
</div>